<style>
	{% include "templates/includes/au_print_format.css" %}
</style>

<div class="body">
	<div class="half">
		<div class="box-size">
			<div class="section-title">Vendor Details</div>
			<div class="start-container" style="height: 100%">
				<b>{{ doc.party_name }}</b><br />
				{% if doc.tax_id %} ABN {{ doc.tax_id }} <br />
				{% endif %}
				<!-- prettier-ignore -->
				{% set address_list = frappe.get_list("Address", filters=[["Dynamic Link","link_doctype","=","Supplier"],["Dynamic Link","link_name","=",doc.party_name]],limit=1) %}
					{% if address_list %} {% set addr = frappe.get_doc("Address", address_list[0]) %}
					{{ frappe.render_template("/templates/print_format/au_address.html",{"address": addr}) }}
				<br />
				{% endif %}
			</div>
		</div>
	</div>
</div>

<table style="width: 100%; margin-top: 15px">
	<tr class="item-row">
		<td class="section-title" style="width: 10px">S.No</td>
		<td class="section-title" style="width: 120px">Invoice No</td>
		<td class="section-title center" style="width: 90px">Amount</td>
		<td class="section-title center" style="width: 90px">Payment</td>
		<td class="section-title center" style="width: 90px">Remaining</td>
	</tr>
	{% for ref in doc.references %}
	<tr class="item-row">
		<td>{{ loop.index }}</td>
		<td>{{ ref.reference_name}}</td>
		<td class="right">{{frappe.format(ref.total_amount,{"fieldtype":"Currency"}) }}</td>
		<td class="right">{{frappe.format(ref.allocated_amount,{"fieldtype":"Currency"}) }}</td>
		<td class="right">{{frappe.format(ref.outstanding_amount,{"fieldtype":"Currency"}) }}</td>
	</tr>
	{% endfor %} {% if doc.unallocated_amount %}
	<tr class="item-row">
		<td colspan="3">Unallocated</td>
		<td class="right">{{frappe.format(doc.unallocated_amount,{"fieldtype":"Currency"}) }}</td>
		<td></td>
	</tr>
	{% endif %}
	<tr class="total-row">
		<td colspan="3">TOTAL</td>
		<td class="right">
			{{ frappe.utils.fmt_money(doc.total_allocated_amount + doc.unallocated_amount,
			currency=doc.paid_from_account_currency) }}
		</td>
		<td></td>
	</tr>
</table>

<div class="table-start">
	{% if doc.mode_of_payment %}
	<div>Payment Method: {{ doc.mode_of_payment }}</div>
	{% endif %} {% if doc.mode_of_payment %}
	<div>Payment Date: {{ doc.reference_date }}</div>
	{% endif %} {% if doc.mode_of_payment %}
	<div>Payment Ref: {{ doc.reference_no }}</div>
	{% endif %}
</div>
