<div class="pf-header">
	<div class="company-header">
		<div>
			{% set company =
			frappe.db.get_value("Company",doc.company,["company_name","company_logo","email","phone_no","tax_id"],
			as_dict=true) %}

			<div class="logo">
				<img src="{{company.company_logo}}" alt="{{company.company_name}}" />
			</div>
		</div>
		<div style="width: 290px">
			<b>{{ doc.company }}</b><br />
			{% if company.tax_id %} ABN {{company.tax_id}}<br />
			{% endif %}
			<!-- prettier-ignore -->
			{% set address_list = frappe.get_list("Address", filters=[["Dynamic Link","link_doctype","=","Company"],["Dynamic Link","link_name","=",doc.company]],limit=1) %}
				{% if address_list %} {% set addr = frappe.get_doc("Address", address_list[0]) %}
				{{ frappe.render_template("/templates/print_format/au_address.html",{"address": addr}) }}
			<br />
			{% endif %}
			<!-- prettier-ignore -->
			{% set email = frappe.get_list("Contact", fields=["`tabContact Email`.email_id"],
				filters= [["Dynamic Link", "link_doctype","=","Company"],["Dynamic Link", "link_name","=",doc.company]], limit=1) %}
				{% if email %} {{ email[0].email_id }} <br />
			{% endif %} {% if company.phone_no %} Ph.No: {{ company.phone_no }} {% endif %}
		</div>
	</div>
	<div>
		<div class="pf-heading">Remittance Advise</div>
		<div class="grid">
			<div><b>Date:</b></div>
			<div>{{ frappe.format(doc.posting_date,{"fieldtype":"Date"}) }}</div>
			<div><b>Reference:</b></div>
			<div>{{ doc.name }}</div>
		</div>
	</div>
</div>
